@import url(reset.css);

@mixin RosarioFontFamily {
  font-family: 'Rosario', sans-serif;
}
@mixin RobotoFontFamily {
  font-family: 'Roboto', sans-serif;
}

// Colors
:root {
  --dark-clr: black;
  --light-clr: white;
  --dark-gray-clr: #515151;
  --header-bg-gray: #e5e5e5;
  --header-bgc-blue: #18a0fb;
  --explore-bg-pink: rgb(238, 217, 229);
}

/*----- header ----- */
//navigation

header {
  @include RobotoFontFamily();
  background-color: var(--header-bgc-blue);
  color: var(--header-bg-gray);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1,
    i {
      margin: 1.5rem;
      font-size: large;
    }
  }
}

/*----- Main -----*/

//Section: hero

section.hero {
  margin-bottom: 1rem;
}

div.hero-container {
  @include RosarioFontFamily();
  position: relative;

  img {
    width: 100%;
  }

  .hero-cta {
    position: absolute;
    left: 4%;
    top: 40%;
    text-align: center;
    height: unset;

    h1 {
      color: var(--light-clr);
      letter-spacing: 0.01rem;
      font-weight: 200;
      text-shadow: 0 0.1rem 0.1rem #333;
      margin-bottom: 2rem;
    }

    a.join-us-cta {
      @include RobotoFontFamily();
      text-decoration: none;
      letter-spacing: 0.05rem;
      font-size: 150%;
      font-weight: 700;
      padding: 0.7rem 2rem;
      background-color: var(--light-clr);
      color: var(--dark-clr);
      border-radius: 0 1rem;
      transition: 300ms;

      &:hover {
        color: var(--light-clr);
        background-color: var(--header-bgc-blue);
      }
    }
  }
}

// section: features

section.features {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include RosarioFontFamily();
    color: var(--dark-gray-clr);
    margin: 1rem 0;
  }

  .container-cities {
    width: 100%;

    .city-1 {
      background-image: url(../images/3.jpg);
    }
    .city-2 {
      background-image: url(../images/4.jpg);
    }
    .city-3 {
      background-image: url(../images/5.jpg);
    }

    .city {
      background-size: cover;
      width: 100%;
      height: 66vw;
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.5rem;

      h3 {
        @include RobotoFontFamily();
        letter-spacing: 0.1rem;
        padding: 4rem 0 1rem 1rem;
        color: var(--light-clr);
        font-size: 200%;
        flex: 1;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.25207169049260325) 0%,
          rgba(0, 0, 0, 0.9439484411928833) 100%
        );
      }
    }
  }

  .container-promo {
    @include RobotoFontFamily();
    background-image: url(../images/6.jpg);
    background-size: cover;
    width: 100%;
    height: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    div {
      padding-left: 1rem;
      padding-top: 3rem;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25207169049260325) 0%,
        rgba(0, 0, 0, 0.9439484411928833) 100%
      );

      h2,
      p {
        color: var(--light-clr);
        padding-bottom: 0.3rem;
        font-weight: 200%;
      }

      h2 {
        letter-spacing: 0.05rem;
      }

      a {
        display: inline-block;
        margin-bottom: 1.5rem;
        text-decoration: none;
        color: var(--dark-clr);
        padding: 0.75rem 1.5rem;
        background-color: var(--light-clr);
        border-radius: 4rem;
        transition: 300ms;

        &:hover {
          color: var(--light-clr);
          background-color: var(--header-bgc-blue);
        }
      }
    }
  }
}

//Section: explore

section.explore {
  background-color: var(--explore-bg-pink);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    @include RobotoFontFamily();
    padding: 1rem 0;
    font-size: 150%;
  }
}

.red-bg {
  color: white;
  background-color: red !important;
}

article {
  width: 90%;
  margin: 0.5rem auto;
  padding-bottom: 2rem;
  background-color: var(--light-clr);
  text-align: center;
  .image-container {
    position: relative;

    img {
      width: 100%;
    }

    i {
      vertical-align: middle;
      font-size: 150%;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0.4rem;
      padding: 0.6rem;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;

      &::before {
        //vertically aligning icon
        transform: translateY(10%);
        display: block;
      }
    }
  }

  p {
    @include RobotoFontFamily();
    padding: 1rem 0;
    font-weight: bold;
  }
}

/*----- footer -----*/

footer {
  @include RosarioFontFamily();
  padding: 3rem 1rem 2rem 1rem;

  .splitter {
    width: 90%;
    margin: 0 auto 2rem auto;
    border-top: 0.2rem solid var(--header-bg-gray);
  }
}
.footer-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;

  ul {
    list-style-type: none;
    font-weight: bold;

    li {
      cursor: pointer;
      padding: 0.5rem;
      a {
        text-decoration: none;
        display: flex;
        align-content: center;

        i {
          font-size: 120%;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.copy-right {
  @include RobotoFontFamily();
  font-weight: bold;
  text-align: center;
}

/*----- Media Queries -----*/

@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  // section: hero

  .nav-hero {
    height: 100vh !important;
    width: 100%;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .hero-container {
      font-size: 200%;
      position: relative;
      left: 8%;
      top: 25rem;
      img {
        display: none;
      }
    }
  }

  div.hero-container .hero-cta a.join-us-cta {
    display: inline-block;
    margin-top: 2rem;
    padding: 1.2rem 4.5rem;
    border-radius: 0 2rem;
  }

  // section: features
  section.features {
    h1 {
      font-size: 300%;
    }

    .container-cities {
      width: 90%;
      // height: unset;
      display: flex;
      justify-content: space-between;
      .city {
        margin: 0.5rem 0.25rem;
        height: 30rem;
      }
    }
    .container-promo {
      width: 90%;
      margin: 0.25;
      height: 50rem;
      font-size: 150%;
    }
  }
  // section: explore
  section.explore {
    align-items: stretch;

    h4 {
      margin-left: 1rem;
    }
    .explore-content {
      width: 90%;
      flex: 1;
      display: flex;
      margin: auto;
    }

    article {
      margin: 0.5rem 0.5rem;

      img {
        height: 22rem;
        object-fit: cover;
      }
    }
  }

  //footer
  .footer-menu {
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
    }
  }
  .copy-right {
    text-align: left;
  }
}
